/* --------------------------------------------------------------------
                            1) Reset     
-------------------------------------------------------------------- */
/* Removes browser defaults */

/* Set Box Sizing - Box sizing reset */
/* "*"= every element now gets the box-sizing*/
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove Default Margins - Body margin reset */
body {
  margin: 0;
}

/* Normalize Images
Images scale within their containers - no unexpected gaps*/
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Optional Basic List Cleanup
Remove default list spacing */
ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

/*--------------------------------------------------------------------
                         2) Base Styles
-------------------------------------------------------------------- */
/* Establishes project's starting look and feel */
/*Color variables*/
:root{
  /* Base Colors */
  --color-primary:#B51756; /* Pink */
  --color-primary-light: #DD1D6A; /* Ligth pink */
  --color-primary-dark:#570828; /* Dark pink */
  
  /* Accent colors */
  --color-accent:#F29340; /*Orange*/
  --color-accent-light:#F5B67F; /*Light orange */


/* Backgrounds */
  --color-bg-light:#f3f3f3; /* */
  --color-bg-section:#f7eaef; /* Soft Pink*/

/* Text */
  --color-text-main:#2c2b2b;
  --color-text:#764156; 
  
/* Overlays */
  --overlay-dark-pink:rgba(27, 0, 4, 0.9); 
}

/* Set a Base Font Inheritance
Readable default font, consistent text scale, prevent unexpected font differences */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #222;
  background-color: white;
}

/* --------------------------------------------------------------------
                         3) Typography
-------------------------------------------------------------------- 

/* Styling Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0.5em;
}

h1{
  color: var(--color-accent-light);
  margin-bottom: 0.6em; /*top sides bottom*/
}

h2{
  color: var(--color-primary); 
  margin-bottom: 0.5em; /*top sides bottom*/
}

h3, h4, h5, h6{
  color: var(--color-text-main);
  margin-bottom: 0.4em; /*top sides bottom*/
}
/* Set Paragraph Spacing */
/* Creates comfortable reading spacing without over-designing */
p {
  margin: 0 0 0.8em;
}

/* Basic Link Styling */
a{
  color: var(--color-primary-light);
  text-decoration: underline;
}

#get-involved h3{
  color: orange;
}

/* --------------------------------------------------------------------
                         4) Navigation
-------------------------------------------------------------------- */
/* "nav a" -> Target links inside navigation menu*/
nav a{
  color: var(--gray-pink);
  display: block;
}

.site-header a{
  text-decoration: none;
  padding: 10px;
}
.site-nav li{
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
  padding: 5px;
  font-weight: 600;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: var(--color-primary-dark);
  color: white;
}
.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand{
  color: var(--color-primary);
  font-weight: bolder;
  font-size: 1.2em;
}
.brand:focus{
  background-color: var(--color-primary-light);
  color: white;
}

.site-header{
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 10;
}

/* --------------------------------------------------------------------
                         5) Sections
-------------------------------------------------------------------- */
/* HERO  */

/*Increased the size for the text elements inside the hero section to make it stand out as the main focus of the page
- Used the selector :is(), to select al the elements optimizing code*/
.hero :is(a, p, li){
  font-size: 1.125em;
}

.hero{
  position: relative;
  background: linear-gradient(to right, var(--overlay-dark-pink) 60%, rgba(0,0,0,0.1)), 
    url("../images/Hero2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  min-height: 90vh;
}

.hero-content{
  position: absolute;
  top: 50%;
  padding: 1rem; /*to fix the padding applied to other elements*/
  transform: translateY(-50%); /* To center the content, controling vertical positioning*/
  max-width: 50rem;
}

/* MAIN */ 



/* PROGRAMS, GET INVOLVED, CONTACT*/
#programs, #get-involved, #contact{
  background-color: var(--color-bg-section);
}

/*GET INVOLVED */
#Volunteer, #Partner, #Share {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 30vh;
  align-content: center;
}

#Volunteer{
  position: relative;
  background-image: linear-gradient(to right, var(--overlay-dark-pink) 20%, rgba(0,0,0,0.1)), 
    url("../images/volunteer.jpg");
}

#Partner{
  background-image: linear-gradient(to right, var(--overlay-dark-pink) 20%, rgba(0,0,0,0.1)), 
    url("../images/partner.jpg");

}

.label{
  position: absolute;
  top: 5px;
  right:5px;
  background-color: var(--color-accent-light);
  font-weight: bold;
  color: var(--color-primary-dark);
  border-radius: 10px;
  padding: 0.5em;
}

#Share{
  background-image: linear-gradient(to right, var(--overlay-dark-pink) 20%, rgba(0,0,0,0.1)), 
    url("../images/share.jpg");
}


/* FOOTER */
.site-footer{
  background-color: var(--color-bg-light);
}

.footer-links a{
  color:var(--gray-pink);  
}

/* --------------------------------------------------------------------
                         6) Utilities
-------------------------------------------------------------------- */
/*LAYOUT HELPER*/
/* Container Width */
/* To prevent from stretching too wide on large screens */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
}

/* ---------------------------- Spacing ------------------------------ */
.card, .tile{
  border: 1px solid var(--color-primary-dark);
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0;
}

.panel{
  border-radius: 10px;
  padding: 1em 2em;
  margin: 1em 0;
  background-color: var(--color-bg-light);
}

.field{
  margin: 0 1em 1em;
}

/* BUTTONS */
.btn, .btn-outline{
  margin: 0.5em 0;
}
.btn {
  background-image: linear-gradient(to bottom, var(--color-primary) 60%, var(--color-accent));
  border: none;
  border-radius: 30px;
  color: white;
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
}

.btn-outline {
  background-image: none;
  border: 2px solid var(--color-primary-light);
}

/* INTERACTION STATES*/ 
/*Interaction states provide a clear visual feedback for user interactions */

/* Hover states */
a:hover, a:focus{
  color: var(--color-primary-dark);
}
nav a:hover, nav a:focus{
  color: var(--color-primary);
}

/*Simplified code for hover and focus states*/
.btn:hover,
.btn:focus{
  /*background-image: none;*/
  background-image: linear-gradient(to bottom , var(--color-primary-light), var(--color-primary));
  /*background-color: var(--pink2);*/
  color: #fff;
 }

.btn-outline:hover,
.btn-outline:focus{
  /*background-image: linear-gradient(to top , var(--dark-pink) 20%, var(--color-primary));*/
  background-image: none;
  background-color: var(--color-primary-light);
  border-color: var(--color-primary);
 }

/* Focus states */
/* :focus-visible -> outline does not appear when mouse users interact with the elements.
Better for accessibility by showing focus styles only when appropiate*/
:focus-visible:is(a, .btn, input, textarea){
  outline: 2px solid #EE72A3; 
}

 /* Active states */
.btn:active{
  background-color: var(--gray-pink);
}

.btn-outline:active{
  background-color: var(--color-primary);
}

/* Donate button */
.Fixed-donate-btn{
  background-color: var(--color-primary-light);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 0.75em 1em;

  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.Fixed-donate-btn:hover{
  background-color: var(--color-primary-dark);
  color: white;
}

/* --------------------------------------------------------------------
                         7) Responsiveness
-------------------------------------------------------------------- */

@media (max-width: 700px){
  
  .hero{
    background: linear-gradient(to right, var(--overlay-dark-pink) 50%, rgba(0,0,0,0.8)), 
    url("../images/Hero2.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    min-height: 80vh;
  }
  .hero-content{
    position: relative;
    top:auto;
    transform: none;
    max-width: 100%;
  }  
}