:root{
  
  --pink:#B51756;
  --pink2: #DD1D6A;
  --light-pink3:#f7eaef;
  --overlay-dark-pink:rgba(27, 0, 4, 0.9);

  --dark-pink:#570828;
  --gray-pink:#764156; 
  --gray:#2c2b2b;
  --light-gray:#f3f3f3;

  --light-orange:#F9E1CD;
  --medium-orange:#F29340;
  --orange:#f5761b;
}

/* 
--------------------------------------------------------------------
                            1) Reset     
-------------------------------------------------------------------- */
/* Removes browser defaults */

/* Set Box Sizing - Box sizing reset */
/* "*"= every element now gets the box-sizing*/
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove Default Margins - Body margin reset */
body {
  margin: 0;

}

/* Normalize Images
Images scale within their containers - no unexpected gaps*/
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Optional Basic List Cleanup
Remove default list spacing */
ul,
ol {
  margin: 0;
  padding: 0;
}

/* 
--------------------------------------------------------------------
                         2) Layout Helper
-------------------------------------------------------------------- */

/* Container Width */
/* To prevent from stretching too wide on large screens */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
}

/* ---------------------------- Spacing ------------------------------ */
.card, .tile{
  border: 1px solid var(--dark-pink);
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0;
}

.panel{
  border-radius: 10px;
  padding: 1em 2em;
  margin: 1em 0 0;
  background-color: var(--light-gray);
}

ul, .field{
  margin: 0 1em 1em;
}
/* 
--------------------------------------------------------------------
                         3) Base Styles
-------------------------------------------------------------------- */
/* Establishes project's starting look and feel */

/* Set a Base Font Inheritance
Readable default font, consistent text scale, prevent unexpected font differences */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #222;
  background-color: white;
}

/*
--------------------------------------------------------------------
                         4) Typography
-------------------------------------------------------------------- 

/* Styling Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0.5em;
}

h1{
 /*Text with gradient*/
  background-image: linear-gradient(to bottom, var(--light-orange), var(--medium-orange));
  background-clip: text;
  color: transparent;
  margin-bottom: 0.6em; /*top sides bottom*/
}

h2{
  color: var(--pink); 
  margin-bottom: 0.5em; /*top sides bottom*/
}

h3, h4, h5, h6{
  color: var(--gray);
  margin-bottom: 0.4em; /*top sides bottom*/
}
/* Set Paragraph Spacing */
/* Creates comfortable reading spacing without over-designing */
p {
  margin: 0 0 0.8em;
}

/* 
--------------------------------------------------------------------
                         5) Links
-------------------------------------------------------------------- */
/* Basic Link Styling */
a{
  color: var(--pink2);
  text-decoration: underline;
}
/* 
--------------------------------------------------------------------
                         6) Buttons
-------------------------------------------------------------------- */
.btn, .btn-outline{
  margin: 0.5em 0;
}
.btn {
  background-image: linear-gradient(to bottom, var(--pink) 60%, var(--orange));
  border: none;
  border-radius: 30px;
  color: white;
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
}

.btn-outline {
  /*background-image: none;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid var(--pink2);*/

  background-image: none;
  border-radius: 30px;
  border: 2px solid var(--pink2);
}

/*
--------------------------------------------------------------------
                         1) Advanced Selectors
-------------------------------------------------------------------- */
/* "nav a" -> Target links inside navigation menu*/
nav a{
  color: var(--gray-pink);
}
.brand{
  color: var(--pink);
  text-decoration: none;
}

#get-involved h3{
  color: orange;
}

/* Style elements based on their context */

/*Increased the size for the text elements inside the hero section to make it stand out as the main focus of the page
- Used the selector :is(), to select al the elements optimizing code*/
.hero :is(a, p, li){
  font-size: 1.125em;
}


.footer-links a{
  color:var(--gray-pink);  
}
/* 
--------------------------------------------------------------------
                         2) Interaction States
-------------------------------------------------------------------- */
/*Interaction states provide a clear visual feedback for user interactions */

/* Hover states */
a:hover{
  color: var(--dark-pink);
}
nav a:hover{
  color: var(--pink);
}

/*Simplified code for hover and focus states*/
.btn:hover,
.btn:focus{
  /*background-image: none;*/
  background-image: linear-gradient(to bottom , var(--pink2), var(--pink));
  /*background-color: var(--pink2);*/
  color: #fff;
 }

.btn-outline:hover,
.btn-outline:focus{
  /*background-image: linear-gradient(to top , var(--dark-pink) 20%, var(--pink));*/
  background-image: none;
  background-color: var(--pink2);
  border-color: var(--pink);
 }

/* Focus states */
/* :focus-visible -> outline does not appear when mouse users interact with the elements.
Better for accessibility by showing focus styles only when appropiate*/
:focus-visible:is(a, .btn, input, textarea){
  outline: 2px solid var(--pink); 
}

 /* Active states */
 .btn:active{
  background-color: var(--gray-pink);
 }

 .btn-outline:active{
  background-color: var(--pink);
 }

/* --------------------------------------------------------------------
                      1) Background and Gradients
-------------------------------------------------------------------- */
.site-header{
  background-color: var(--light-pink3);
}

.hero{
  background: linear-gradient(to right, var(--overlay-dark-pink) 50%, rgba(0,0,0,0.1)), 
    url("/images/Hero2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  min-height: 80vh;
}

#programs{
  background-color: var(--light-pink3)
}

#get-involved{
  background-color: var(--light-pink3);
}

#Volunteer, #Partner, #Share {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 30vh;
}

#Volunteer{
  background-image: linear-gradient(to right, var(--overlay-dark-pink) 20%, rgba(0,0,0,0.1)), 
    url("/images/volunteer.jpg");
}

#Partner{
  background-image: linear-gradient(to right, var(--overlay-dark-pink) 20%, rgba(0,0,0,0.1)), 
    url("/images/partner.jpg");

}

#Share{
  background-image: linear-gradient(to right, var(--overlay-dark-pink) 20%, rgba(0,0,0,0.1)), 
    url("/images/share.jpg");
}

#contact{
  background-color: var(--light-pink3);
}

.site-footer{
  background-color: var(--light-gray);
}